<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850436239783-7j9189om33ekqpjhn5iuuud6j1psdfpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850436239783-7j9189om33ekqpjhn5iuuud6j1psdfpa</string>
	<key>API_KEY</key>
	<string>AIzaSyDZKHaJ9yDbK8f-r5QpSptJgMD_UMmeaOE</string>
	<key>GCM_SENDER_ID</key>
	<string>850436239783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinut.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-d5c41</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-d5c41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850436239783:ios:15d9dfe1414780a2318682</string>
</dict>
</plist>